{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/pokemon.css') }}"> 
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/pokemon.js') }}"></script>
{% endblock %}

{% block title %}Hello PokemonsController!{% endblock %}


{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div style="margin-bottom: 10px; margin-left: -250px;">
        <button class="btnBack" style="width: 100px; height: 50px;">Retroceder</button>
        <button class="btnNext" style="width: 100px; height: 50px;">Avanzar</button>        
    </div>
    <div class="contenedor2"  id="elemento">
                
    </div>    
        
</div>
{% endblock %}
